@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Space Grotesk','open sans';
}

.background-image-chair{
    background-image: url("https://i.ibb.co/mFrBTY1/chair-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 0 60px;
    
}
.box {
    width: 6rem;
    height: 6rem;
    background-image:url("https://i.ibb.co/BZgSL0M/Frame-9.png");
    background-position: center;
    background-size: cover;
  }

.heart{
background-image: url('https://i.ibb.co/YDk3kSS/91tb-rdaj-220113-removebg-preview.png');
background-position: center;
background-repeat: ;
  }